#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f9a8d4, #d6b0f2);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* App.css */

.fairy-shell {
  min-height: 100vh;
  background: url('/bg.jpg') center center / cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Papyrus", "Cursive", serif;
  color: #5a2a73;

  position: relative;
  overflow-x: hidden;
  width: 95%;
}

.fairy-shell h1 {
  text-shadow: 1px 1px 2px #00000030;
}

.slogan {
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #5a2a73; /* soft pastel or angelic shade */
  text-shadow: 1px 1px 2px #00000030;
  margin-top: -10px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.fairy-shell h1 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #683978;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
  position: relative;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
}
.apk-download {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #430a4d;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 4px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.apk-download:hover {
  text-decoration: underline;
}

.logo-img {
  animation: fadeIn 1.2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.links {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}


@media (max-width: 800px) {
  #root {
    padding: 0; /* Add some horizontal padding */
    background: linear-gradient(to bottom, #f9a8d4, #d6b0f2);
  }

  .fairy-shell {
    width: 100%; /* Full width on small screens */
    padding: 0; /* Reduce padding */
    margin: 0;
    font-size: 1rem; /* Adjust base font size if needed */
  }

  .fairy-shell h1 {
    font-size: 1.3rem; /* Smaller heading for mobile */
    margin-bottom: 1.5rem;
    text-align: center;
    color: #683978;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
  }

  .logo-img {
    width: 80%;
    height: auto;
    background:#2d0733a7;
    margin: 20px 0;
    padding: 10px;
    
  }

  .links {
  width: 100%;
  padding: 0 20px;
  justify-content: center;
}
.apk-download{
  padding: 5px;
  letter-spacing: 2px;
}
}
