.home-screen {
    background: transparent;
    min-height: 100vh;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    pad
    background: linear-gradient(to bottom, #050505, #d6b0f2);
  }
  
  
  
  .subtitle {
    font-size: 1.2rem;
    color: #7b61ff;
    margin-bottom: 2rem;
    font-family: "Quicksand", sans-serif;
  }
  