.playlist-container {
  padding: 20px;
  background: transparent;
  width: 40%;
}

.song-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 30px 10px;
  background: #fff0fa;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
}

.song-item.active {
  border: 4px solid #ff1493;
}

.song-titles {
  flex: 1;
  font-size: 1.2rem;
  color: #330035;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.loop-on {
  color: #ff1493;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #ff1493;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  display: flex;
  justify-content: ;
}

.progress {
  height: 100%;
  background: #e60073;
  transition: width 0.2s ease;
}
